.container-tech {
    display: flex;
    justify-content: space-around;
}

.tech-icon {
    width: 10%;
    height: 10%;
    padding: 0.1em;
}

@media(max-width: 900px){
    
    .container-tech{
        width: auto;
        margin: auto;
    }
}


@media(min-width: 901px) and (max-width: 1000px){
    .tech-icon {
        width: 17%;
        height: 17%;
    }
}
@media(min-width: 1001px) and (max-width: 1200px){
    .tech-icon {
        width: 15%;
        height: 15%;
    }
}

@media(min-width: 1201px){
    .tech-icon {
        width: 10%;
        height: 10%;
    }
}