.social {
    /*padding: 2em 0;*/
    font-size: 32px;
    display: flex;
    justify-content: space-around;
}
.social a{
    color:#808080;
    opacity: 0.6;
    transition: 0.3s;
}
.social a:hover{
    color: #ffffff;
    opacity: 1;
}