@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

* {
  margin: 0;
  padding: 0;
}

.text {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.text.hidden {
  border-bottom: 1px solid #fff;
}
/*@media (min-width: 300px) and (max-width: 410px)  { 
    .text li {
        font-size: 1em;
        color: rgb(148, 17, 17);
    }

}*/


.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}
.text.color li.spaced{
  color: 	#D4AF37;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
.text.hidden li.ghidden {
  opacity: 0;
  max-width: 0;
  padding-left: 0;
}
.text li.ghidden{
  padding-left: 0.5em;
  color: 	#D4AF37;
}


