@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

* {
  margin: 0;
  padding: 0;
}

.text {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.text-mobile {
 /*top: 7.3% !important;*/
 top: 40px !important;
}

.text.hidden {
  border-bottom: 1px solid #fff;
}
/*@media (min-width: 300px) and (max-width: 410px)  { 
    .text li {
        font-size: 1em;
        color: rgb(148, 17, 17);
    }

}*/


.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}
.text.color li.spaced{
  color: 	#D4AF37;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
.text.hidden li.ghidden {
  opacity: 0;
  max-width: 0;
  padding-left: 0;
}
.text li.ghidden{
  padding-left: 0.5em;
  color: 	#D4AF37;
}

.text.hidden img.spaced{
  background-color:  #00d8ff;
}

.text.color img.spaced{
  background-color: 	#7FFF00;
}

.text img.size{
  height: 55px;
  width: 60px;
}

.text.hidden li.image-spacing{
  padding-right: 0.3em;
}
.text.color li.b-spacing{
  padding-left: 0.2em;
  padding-right: 0.2em;
}

@media (min-width: 200px) and (max-width: 500px)  { 
  .text.color li.b-spacing{
    padding-right: 0.3em;
  }
  .text.color li.ghost {
    opacity: 0;
    max-width: 0;
  }
  .text.color li.spaced {
    padding-left: 0;
  }
}
/*@media (min-width: 200px) and (max-width: 600px)  { 
  .text{
    top: 10%;
  }
}*/