@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Do+Hyeon|Scada&display=swap');

.back{
    margin-bottom: 1em;
    color: #FC9943;
    font-size: 1.2em;
    font-weight: 600;
    float: left;
    margin: 0.5em;
    
}
.back:hover{
    color: 	#FF6347;
}

div .body{
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 5em 0;
    width: 100%;
}

main {
    width: 70%;
    background-color: #fff;
    border: 1px solid #1a252f;
    border-radius: 4px;
    padding: 2em;
    margin: 2em auto;
}

.body div.head{
    display: flex;
    /*flex-direction: row; */
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 1em;
}

.body div.information{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

.body div.desc{
    margin-bottom: 2.5em;
    text-align: justify;
}
.body div.information div.proj-image{
    width: 50%;
}
.body div.information div.proj-image img{
    border: 1px solid #2C3E50;
    border-radius: 2px;
    max-width: 250px;
    max-height: 150px;
   /* float: right;
    position: fixed;*/
    float: right;
    width: 100%;
}

.body div.information div.proj-tech{
    font-family: 'Scada', sans-serif !important;
    margin-right: 2em;
    width: 50%;
}
.body div.information div.proj-tech h5{
    border-bottom: 1px solid #BDBDBD;
}

.devicon-git-plain {
    width: 2em;
    height: 2em;
  }


#project-content div.head div.proj-name{
    width: 90%;
    text-align: left;
    overflow-wrap: break-word;
}

#project-content div.head div.proj-repo{
    cursor: pointer;
}

.demo-button,
.demo-button-disabled{
    display: inline-block;
    left: calc(50% - 1rem);
}

.demo-button{
    color: #be1c2a;
    cursor: pointer;
}

.demo-button-disabled,
.demo-button-disabled:hover{
    color:#C0C0C0;
    cursor:not-allowed;
}

.body div.information div.proj-image img{
    width: 100%;
    height: auto;
}

@media (min-width: 900px)  { 
    .body div.information div.proj-image img{
        float: initial;
    }
    .demo-button, 
    .demo-button-disabled{
        font-size: 1.7rem;
        margin: -1.5rem .5rem auto;
    }
}

@media (max-width: 900px)  { 
    .body div.information{
        flex-direction: column;
    }
    .body div.information div.proj-tech{
        width: 100%;
        margin-right: 0;
        order: 1;
    }
    .body div.information div.proj-image{
        width: auto;
        order: 0;
        align-self: center;
        margin: 0 0 2rem 0;
    }
    .demo-button{
        font-size: 1.2rem;
        margin: -1rem 0 1rem 0;
    }
}