.back{
    margin-bottom: 1em;
    color: #FC9943;
    font-size: 1.2em;
    font-weight: 600;
    float: left;
    margin: 0.5em;
    
}
.back:hover{
    color: 	#FF6347;
}

div .body{
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 5em 0;
}

main {
    width: 80%;
    min-width: 300px;
    position: relative;
    background-color: #fff;
    border: 1px solid #1a252f;
    border-radius: 4px;
    padding: 2em;
    margin: 0 auto;
}

div.head{
    display: flex;
    /*flex-direction: row; */
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 1em;
}

div.desc{
    margin-bottom: 2.5em;
    text-align: justify;
}

div.image{
    align-content: center;
}