
.header {
    padding: 60px;
    text-align: center;
    background: #002B33;
    color: white;
    font-style: italic;
    flex-grow: 0;
    flex-shrink: 1;
  }

.header-mobile {
  padding-top: 80px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  text-align: center;
  background: #002B33;
  color: white;
  font-style: italic;
}


 /* @media (min-width: 100px) and (max-width: 600px)  { 
    .header{
      padding-top: 80px;
    }
}*/